<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="20480"></httpRuntime>
		<!--上传文件最大20M-->
	</system.web>
	<appSettings>
		<add key="PreIndex" value="PT_"/>
		<add key="myserver" value=" " />
		<add key="GreetingLanguage" value="Chinese" />
	</appSettings>
</configuration>
